<!doctype html>
<html lang="en" <% if (htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Completoo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
  <% } %>

  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header class="header pt-1 text-center">
    <span class="header-logo d-inline-block"><%= require('images/logo.svg') %></span>
  </header>

  <section class="hero bg-primary text-white py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text-center text-md-left">
          <h1 class="display-4 text-uppercase">Completoo</h1>
          <p class="lead">This app will help you be a doer, not just a dreamer. Set up your ambitious goals, conquer the peaks of your dreams and let your friends be the audience.</p>
          <div class="pt-2">
            <a class="hero-app-store-btn d-inline-block" href="https://itunes.apple.com/us/app/completoo/id1380279998">
              <%= require('images/app-store-btn.svg') %>
            </a>
          </div>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center pt-5 pt-md-0">
          <div class="device-wrapper">
            <div class="device" data-device="iPhone7" data-orientation="portrait" data-color="red">
              <div class="screen"><img class="w-100 h-100" src="<%= require('images/screenshot-active.jpg') %>" alt="Screenshot" /></div>
              <div class="button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-12 pb-5">
          <h1 class="section-title">Features</h1>
        </div>
        <div class="col-12">
          <div class="card-deck">
            <%
            var features = [
              {
                title: "Track goals",
                body: "Set up and track your goals, and motivate yourself to do more than you could even imagine!",
                icon: require("images/format-list-checks.svg")
              },
              {
                title: "Share success",
                body: "Mission complete? Share your success with your friends and let them approve and rate your results.",
                icon: require("images/share-variant.svg")
              },
              {
                title: "Rate friends",
                body: "Follow your friends, keep an eye on how they progress with their goals and give your feedback.",
                icon: require("images/thumb-up.svg")
              },
              {
                title: "Be a leader",
                body: "Achieve more goals, get rating points, become a Completoo Leader and motivate others to be doers!",
                icon: require("images/trophy.svg")
              },
              {
                title: "Offline mode",
                body: "Use Completoo not only as a social sharing goal tracker, but also as a regular goal tracker in offline mode.",
                icon: require("images/flash-circle.svg")
              },
              {
                title: "Free forever",
                body: "Completoo is totally free for everyone, it is available worldwide and there are no limitations on a number of goals you track.",
                icon: require("images/currency-usd-off.svg")
              }
            ];
            %>
            <% for (var i = 0; i < features.length; ++i) { %>

            <div class="card border-0 text-center align-items-center">
              <div class="features-item-icon"><%= features[i].icon %></div>
              <div class="card-body">
                <h5 class="card-title text-uppercase"><%= features[i].title %></h5>
                <p class="card-text"><%= features[i].body %></p>
              </div>
            </div>

              <% if (i % 3 === 2) { %>

              <div class="w-100 d-none d-md-block"></div>

              <% } %>
            <% } %>
        </div>
      </div>
    </div>
  </section>

  <section class="screenshots py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="section-title">Screenshots</h1>
        </div>
        <div class="col-12 pt-5">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <%
              var screenshots = [
                require("images/screenshot-pending-review.jpg"),
                require("images/screenshot-archive.jpg"),
                require("images/screenshot-leaders.jpg"),
                require("images/screenshot-activities.jpg"),
                require("images/screenshot-friends.jpg"),
                require("images/screenshot-profile-form.jpg"),
                require("images/screenshot-trackable-form.jpg"),
              ];
              %>
              <% for (var i = 0; i < screenshots.length; ++i) { %>

              <div class="swiper-slide text-center">
                <img class="screenshots-item-img swiper-lazy" data-src="<%= screenshots[i] %>" alt="Screenshot" />
                <div class="swiper-lazy-preloader"></div>
              </div>

              <% } %>
            </div>
            <div class="swiper-pagination pt-3"></div>
            <div class="swiper-button-prev">&#10094;</div>
            <div class="swiper-button-next">&#10095;</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 pb-5">
          <h1 class="section-title">User Reviews</h1>
        </div>
        <div class="col-12">
          <div class="card-deck">
            <%
            var testimonials = [
              {
                body: "It's not just a piece of software, this app motivates me by letting my friends motivate me. Now I see there's a lot of people in this world who can be genuinely happy for my achievements and this is a true engine of success in anything you do.",
                author: "Iryna Kovalova",
                company: "Marketing Specialist",
                avatar: require("images/avatar2.jpg")
              },
              {
                body: "I'm very happy with this app, it is really a place where you get motivation from others. It's amazing to see how cool some of my friends are!",
                author: "Andrii Malykhin",
                company: "Software Engineer",
                avatar: require("images/avatar.jpg")
              }
            ];
            %>
            <% for (var i = 0; i < testimonials.length; ++i) { %>

            <div class="card border-0 text-center align-items-center">
              <img class="testimonials-item-avatar lazyload" data-src="<%= testimonials[i].avatar %>" alt="Avatar" />
              <div class="card-body">
                <blockquote class="blockquote text-center">
                  <p><%= testimonials[i].body %></p>
                  <footer class="blockquote-footer"><%= testimonials[i].author %>, <cite><%= testimonials[i].company %></cite></footer>
                </blockquote>
              </div>
            </div>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer py-4 bg-primary text-white text-center">
    <p>&copy; Completoo 2018. All rights reserved.</p>
    <p class="mb-0">
      <a class="footer-link" href="https://goo.gl/forms/30XsvtjIBJi1NiEA2">Contact us</a>
      <a class="footer-link" href="https://www.iubenda.com/privacy-policy/13952101/full-legal">Privacy policy</a>
    </p>
  </footer>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>

    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>

  <% } %>
</body>

</html>